.play-btn{
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 60%;
    background-color: gray;
}

.play-btn:hover {
    background-color: darkgray;
}